$primary-gray: #f7f7fa;
$primary-background: #1f2032;
$primary-blue: #312dff;
$secondary-blue: #2926d8;
$active-blue: #090fae;
$white: #ffffff;
$black: #000000;
$secondary-gray: #eeeff4;
$text-black: #15141a;
$error-red: #e8412a;

$additional-grey: #9a9aad;
$additional-darkgrey: rgba(129, 129, 139, 0.1);

$form-grey: #e0e0e4;

// breakpoints

$big-screen: 1920px;
$over-big-screen: calc($big-screen + 1px);
$middle-screen: 1280px;
$small-screen: 768px;
$big-mobile: 544px;
$mobile: 360px;
$under-mobile: calc($mobile - 1px);

$s2px: 2px;

@media (max-width: $small-screen) {
  $s2px: 0.208vw;
}
