$primary-gray: #f7f7fa;
$primary-background: #1f2032;
$white: #ffffff;
$black: #000000;

$additional-grey: #9a9aad;

// breakpoints

$big-screen: 1920px;
$over-big-screen: calc($big-screen + 1px);
$middle-screen: 1280px;
$small-screen: 768px;
$big-mobile: 544px;
$mobile: 360px;
$under-mobile: calc($mobile - 1px);
