$primary-gray: #f7f7fa;
$primary-background: #1f2032;
$white: #ffffff;
$black: #000000;

$additional-grey: #9a9aad;

// breakpoints
$over-big-screen: 1921px;
$big-screen: 1920px;
$middle-screen: 1280px;
$small-screen: 768px;
$big-mobile: 544px;
$mobile: 360px;
$under-modile: 359px;
